*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 203, 203);
}

.logo2{ 
    display: none;
}
.logo{
    border-right: 1px solid rgb(197, 195, 195);
    padding: 12px;
}
.superiorEsquerda{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin: 1px;
    align-items: center;
}

.superiorDireita{
    display: flex;
    justify-content: end;
    gap: 15px;
    margin: 1px;
    align-items: center;
}

.botaoConta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none; 
    background-color: rgb(8, 211, 211);
    height: 30px;
    width: 170px;
    border-radius: 50px;
    color: white;
    font-size: 13px;
}

.botaoConta:hover{ 
    background-color: rgb(10, 240, 240);
}

.iconInvertido{
    display: none;
}

.icons{
    margin-right: 20px;
}


/* =================Main================================= */

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 232, 232);
}

.imagemTela1{
    display: none;
}
.imagemTela{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 50px; 
    margin-right: 30px;
    margin-left: 20px;
}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-left: 15px;
}

.h1{
    font-size: 60px;
    font-weight: 550;
    
}

.pt5{
    margin-left: 8px;
    font-size: 25px;
    font-weight: 500;
}

.pt1{
    margin-top: 25px;
    font-size: 28px;
    color: rgb(63, 62, 62);
}

.pt3{
    margin-top: 20px;
    font-size: 28px;
    color: rgb(63, 62, 62);
}

.pt4{
    margin-top: 20px;
    font-size: 28px;
    color: rgb(63, 62, 62);
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;
}

.botao1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 52, 82);
    color: white;
    height: 60px;
    width: 190px;
    border-radius: 10px;
    font-size: 20px;
}

.botao1:hover{
    background-color: white;
    color: rgb(17, 52, 82);
}

.botao2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 52, 82);
    color: white;
    height: 60px;
    width: 190px;
    border-radius: 10px;
    font-size: 20px;
}

.botao2:hover{
    background-color: white;
    color: rgb(17, 52, 82);
}


















/* ============ refatorando========== */

@media screen and (max-width:766px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(204, 203, 203);
    }

    .logo2{
        display: flex;
        padding: 12px;
    }
    .logo{
        display: none;
    }

    .setinha{
        display: none;
    }

    .superiorEsquerda{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;
        margin: 5px;
        align-items: center;
       
    }

    .casos{
        display: none;
    }

    .carreiras{
        display: none;
    }
    
    .superiorDireita{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 15px;
        margin: 5px;
        align-items: center;
    }
    
    .botaoConta{
        display: none;
    }
    
    .botaoConta:hover{ 
        background-color: rgb(10, 240, 240);
    }

    .iconInvertido{
        display: none;
    }
    
    .icons{
        margin-right: 20px;
    }


    /* =========main========= */

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 232, 232);
     
    }
    
    .imagemTela1{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 450px;
        margin-top: 50px; 
        margin-right: 30px;
        margin-left: 20px;
    }

    .imagemTela{
        display: none;
    }
    
    .textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 15px;
    }
    
    .h1{
        display: flex;
        font-size: 43px;
        font-weight: 600;
        align-items: center;
    }
    
    .pt5{
        font-size: 26px;
        font-weight: 600;
        padding-top: 35px;
    }
    
    .pt1{
        margin: 10px;
        padding: 0;
        font-size: 25px;
        color: rgb(63, 62, 62);
    }
    
    .pt3{
        margin: 15px;
        font-size: 25px;
        color: rgb(63, 62, 62);
    }
    
    .pt4{
        margin: 15px;
        font-size: 25px;
        color: rgb(63, 62, 62);
    }
    
    .botoes{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 40px;
    }
    
    .botao1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 52, 82);
        color: white;
        height: 50px;
        width: 180px;
        border-radius: 10px;
        font-size: 20px;
    }
    
    .botao1:hover{
        background-color: white;
        color: rgb(17, 52, 82);
    }
    
    .botao2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 52, 82);
        color: white;
        height: 50px;
        width: 180px;
        border-radius: 10px;
        font-size: 20px;
    }
    
    .botao2:hover{
        background-color: white;
        color: rgb(17, 52, 82);
    }
    
}








@media screen and (max-width: 579px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(204, 203, 203);
    }

    .logo2{
        display: flex;
        padding: 12px;
    }
    .logo{
        display: none;
    }

    .setinha{
        display: none;
    }

    .superiorEsquerda{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;
        margin: 5px;
        align-items: center;
       
    }

    .casos{
        display: none;
    }

    .carreiras{
        display: none;
    }
    
    .superiorDireita{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 15px;
        margin: 5px;
        align-items: center;
    }
    
    .botaoConta{
        display: none;
    }
    
    .botaoConta:hover{ 
        background-color: rgb(10, 240, 240);
    }
    .iconInvertido{
        display: flex;
        flex-direction: row-reverse; 
        /*  */
        margin-right: 10px;
    }
    .icons{
        display: none;
    }


    /* =========main========= */

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 232, 232);
     
    }
    
    .imagemTela1{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 450px;
        margin-top: 50px; 
        margin-right: 30px;
        margin-left: 20px;
    }

    .imagemTela{
        display: none;
    }
    
    .textos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 15px;
    }
    
    .h1{
        display: flex;
        font-size: 43px;
        font-weight: 600;
        align-items: center;
    }
    
    .pt5{
        font-size: 26px;
        font-weight: 600;
        padding-top: 35px;
    }
    
    .pt1{
        margin: 10px;
        padding: 0;
        font-size: 25px;
        color: rgb(63, 62, 62);
    }
    
    .pt3{
        margin: 15px;
        font-size: 25px;
        color: rgb(63, 62, 62);
    }
    
    .pt4{
        margin: 15px;
        font-size: 25px;
        color: rgb(63, 62, 62);
    }
    
    .botoes{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 40px;
    }
    
    .botao1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 52, 82);
        color: white;
        height: 50px;
        width: 180px;
        border-radius: 10px;
        font-size: 20px;
    }
    
    .botao1:hover{
        background-color: white;
        color: rgb(17, 52, 82);
    }
    
    .botao2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 52, 82);
        color: white;
        height: 50px;
        width: 180px;
        border-radius: 10px;
        font-size: 20px;
    }
    
    .botao2:hover{
        background-color: white;
        color: rgb(17, 52, 82);
    }
    
}    

