*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.tela{
    width: 100vw;
    min-height: 100vh;
    /*  */
    /* vw = dinamico, o vw pega o tamanho da tela do usuario para n quebrar a imgame etc */
    /* vh = o vh pega a altura da tela do usuario  */
    background-color: blue;
}

.item{
    width: 500px;
    height: 500px;
    background-color: aqua;
}
/* de 0 até 500px vai aparecer um tipo de tela */
@media screen and (max-width: 500px) {
    .tela{
        background-color: red;
    }
}
/* de 501 a 800 vai aparecer um outro tipo de tela */
@media screen and (min-width: 501px) and (max-width:800px)
{
    .tela{
        background-color: green;
    }

}